{% load static %}

<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA_Compatible" content="IE-Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Restaurant Management</title>
    </head>
</html>

<body>
    <div>
        <div class="header">
            <h1>Restaurant Management System</h1>
        </div>
        <form action="" method="post" class="content">
            {% csrf_token %}
            {{ form_customer }}
            <br/>
            <input type="submit" value="Submit Customer" class="button">
        </form>
        <form action="" method="post" class="content">
            {% csrf_token %}
            {{ form_food }}
            <br/>
            <input type="submit" value="Submit Order" class="button">
        </form>
    </div>
</body>

