{% load static %}

<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA_Compatible" content="IE-Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Order Panel</title>
    </head>
</html>

<body>
    <div>
        <div class="header">
            <h1>Order Panel</h1>
        </div>
        <form action="" method="post" class="content">
            <div style="display: grid; align-items: center;">
                {% csrf_token %}
                {{ form_order }}
            </div>
            <div style="display: flex; justify-content: center; align-items: center; padding: 10%;">
                <button class="button-48" role="button" type="submit"><span class="text">Submit</span></button>
            </div>
        </form>
    </div>
</body>