.content {
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  line-height: 3em;
  padding: 2%;
}

.header {
  display: block;
  text-align: center;
  justify-content: left;
  font-family: 'Raleway', sans-serif;
}

input {
  background-color: rgb(245, 252, 252);
  width: 300px;
  padding: 1.5em 2.2em;
  line-height: 1em;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border: 0;
}

select {
  background-color: rgb(245, 252, 252);
  width: 356px;
  padding: 1.5em 2.2em;
  line-height: 1em;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border: 0;
}

select::after {
  content: '\25BC';
  padding: 0em 1em;
}

.form {
  display: grid;
  justify-content: center;
  align-items: center;
}

.menu {
  display: grid;
  justify-content: center;
  align-items: center;
}

p {
  font-family: Clarkson, Helvetica, sans-serif;
  font-weight: 100;
  line-height: 1.5em;
  text-decoration: none;
  color: black;
}

a {
  padding: 1%;
}

.button-48 {
  appearance: none;
  background-color: #ffffff;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
    background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
    color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut 0.5s step-end forwards;
  backface-visibility: hidden;
  background-color: #ebebeb;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #ffffff;
}

.button-48 span {
  z-index: 1;
  position: relative;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.report {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.report.show {
  opacity: 1;
}

td {
  border: 1px solid black;
  text-align: center;
  font-size: 2rem;
  padding: 8px;
}
tr {
  background-color: #f2f2f2;
  display: flex;
}
tr:nth-child(even) {
  background-color: #ffffff;
}
.id {
  width: 45px;
}
.date {
  width: 305px;
}

.customer_id {
  width: 176px;
}
.employee_id {
  width: 183px;
}
.food_id {
  width: 118px;
}
.dishes {
  width: 250px;
}
.price {
  width: 70px;
}

.addField {
  width: 40px;
}

table {
  border-color: #ffffff;
}

tr {
  background-color: inherit;
}

td {
  font-family: Clarkson, Helvetica, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  font-size: 14px;
}
